@import "~bootstrap/scss/bootstrap";
@import 'react-big-calendar/lib/sass/styles';


@font-face {
    font-family: "UNBEGS";
    font-style: "Regular";
    src: url("./fonts/UNBEGS.otf");
}

@font-face {
    font-family: "SF Pro";
    font-style: "Regular";
    src: url("./fonts/SF-Pro-Display-Regular.otf");
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'SF Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

.App {
    width: 100vw;

    .containerblur {
        background-color: #f7f7f7;
        padding: 1rem;
        margin: 1rem;
        -moz-border-radius: 0.5em;
        -webkit-border-radius: 0.5em;
        border-radius: 0.5em;
    }

    #blurBackground {
        background-color: rgba(143, 143, 143, 0.3);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        box-shadow: inset 0 0 0 0 rgba(255, 255, 255, 0.1);
    } 

    .bttn {
        flex: 1 1 0;
        padding: 0.25em 1em;
        border: black solid;
        width: 100%;
        color: white;
        background-color: rgb(0, 0, 0);
        -webkit-appearance: none;
        appearance: none;
        margin-top: 1em;
        margin-bottom: 1em;
        font-family: 'SF Pro';
    }

    .bttn:hover {
        flex: 1 1 0;
        padding: 0.25em 1em;
        border: black solid;
        width: 100%;
        color: #000000;
        background-color: rgba(255, 255, 255, 0.2);
        -webkit-appearance: none;
        appearance: none;
        transition: 0.5s ease;
        -webkit-transition: 0.5s ease;
    }

    .bttn2 {
        flex: 1 1 0;
        padding: 0.25em 1em;
        width: 100%;
        color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0);
        -webkit-appearance: none;
        appearance: none;
        font-family: 'SF Pro';
    }

    .bttn2:hover {
        flex: 1 1 0;
        padding: 0.25em 1em;
        width: 100%;
        color: #000000;
        background-color: rgba(46, 46, 46, 0.2);
        -webkit-appearance: none;
        appearance: none;
        transition: 0.5s ease;
        -webkit-transition: 0.5s ease;
    }

    .waveDiv {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: #f7f5e6;
        animation: ripple 60s infinite;
        opacity: 1;
        background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #f7f5e6 900px), repeating-linear-gradient(#8cc1db55, #8cc1db);
    }

    .patternDiv {
        background-color: #f7f5e6;
        opacity: 1;
        background-image: radial-gradient(circle at center center, #f7f5e6, #f7f5e6), repeating-radial-gradient(circle at center center, #8cc1db, #f7f5e6, 350px, transparent 250px, transparent 100px);
        background-blend-mode: multiply;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        animation: ripple 60s infinite;
        z-index: -1;
    }

    @keyframes ripple {
        0% {
            transform: scale(150%);
        }

        50% {
            transform: scale(100%);
        }

        100% {
            transform: scale(150%);
        }
    }

    // .react-calendar {
    //     width: 70vw;
    //     max-width: 100%;

    //     line-height: 1.125em;
    //     padding: 2rem;

    //     background-color: rgba(143, 143, 143, 0.3);
    //     backdrop-filter: blur(20px);
    //     -webkit-backdrop-filter: blur(20px);
    //     box-shadow: inset 0 0 0 0 rgba(255, 255, 255, 0.1);

    //     padding: 1rem;
    //     margin: 1rem;
    //     -moz-border-radius: 0.5em;
    //     -webkit-border-radius: 0.5em;
    //     border-radius: 0.5em;
    //   }
    //   .react-calendar--doubleView {
    //     width: 70vw;
    //   }
    //   .react-calendar--doubleView .react-calendar__viewContainer {
    //     display: flex;
    //     margin: -0.5em;
    //   }
    //   .react-calendar--doubleView .react-calendar__viewContainer > * {
    //     width: 50%;
    //     margin: 0.5em;
    //   }
    //   .react-calendar,
    //   .react-calendar *,
    //   .react-calendar *:before,
    //   .react-calendar *:after {
    //     -moz-box-sizing: border-box;
    //     -webkit-box-sizing: border-box;
    //     box-sizing: border-box;
    //   }
    //   .react-calendar button {
    //     margin: 0;
    //     border: 0;
    //     outline: none;
    //     -moz-border-radius: 0.5em;
    //     -webkit-border-radius: 0.5em;
    //     border-radius: 0.5em;
    //   }
    //   .react-calendar button:enabled:hover {
    //     cursor: pointer;
    //   }
    //   .react-calendar__navigation {
    //     display: flex;
    //     height: 44px;
    //     margin-bottom: 1em;
    //   }
    //   .react-calendar__navigation button {
    //     min-width: 44px;
    //     background: none;
    //   }
    //   .react-calendar__navigation button:disabled {
    //     background-color: #f0f0f0;
    //   }
    //   .react-calendar__navigation button:enabled:hover,
    //   .react-calendar__navigation button:enabled:focus {
    //     background-color: #e6e6e6;
    //   }
    //   .react-calendar__month-view__weekdays {
    //     text-align: center;
    //     text-transform: uppercase;
    //     font-weight: bold;
    //     font-size: 0.75em;
    //   }
    //   .react-calendar__month-view__weekdays__weekday {
    //     padding: 0.5em;
    //   }
    //   .react-calendar__month-view__weekNumbers .react-calendar__tile {
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     font-size: 1.75em;
    //     font-weight: bold;
    //   }
    //   .react-calendar__month-view__days__day--weekend {
    //     color: #000000;
    //   }
    //   .react-calendar__month-view__days__day--neighboringMonth {
    //     color: #757575;
    //   }
    //   .react-calendar__year-view .react-calendar__tile,
    //   .react-calendar__decade-view .react-calendar__tile,
    //   .react-calendar__century-view .react-calendar__tile {
    //     padding: 2em 0.5em;
    //   }
    //   .react-calendar__tile {
    //     max-width: 100%;
    //     padding: 2em 0.5em;
    //     background: none;
    //     text-align: center;
    //     line-height: 16px;
    //     margin: 1rem;
    //     -moz-border-radius: 0.5em;
    //     -webkit-border-radius: 0.5em;
    //     border-radius: 0.5em;
    //   }
    //   .react-calendar__tile:disabled {
    //     background-color: #f0f0f0;
    //   }
    //   .react-calendar__tile:enabled:hover,
    //   .react-calendar__tile:enabled:focus {
    //     background-color: #e6e6e6;
    //   }
    //   .react-calendar__tile--now {
    //     background: #86d7ff;
    //   }
    //   .react-calendar__tile--now:enabled:hover,
    //   .react-calendar__tile--now:enabled:focus {
    //     background: #86d7ff;
    //   }
    //   .react-calendar__tile--hasActive {
    //     background: #8cc1db;
    //   }
    //   .react-calendar__tile--hasActive:enabled:hover,
    //   .react-calendar__tile--hasActive:enabled:focus {
    //     background: #8cc1db;
    //   }
    //   .react-calendar__tile--active {
    //     background: #8cc1db;
    //     color: rgb(255, 255, 255);
    //   }
    //   .react-calendar__tile--active:enabled:hover,
    //   .react-calendar__tile--active:enabled:focus {
    //     background: #8cc1db;
    //   }
    //   .react-calendar--selectRange .react-calendar__tile--hover {
    //     background-color: #e6e6e6;
    //   }
      
}